PUBLIC_API_URL=http://localhost:8080

ENCRYPTION_KEY=a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2

USERSPACE_USER_DEFAULT_ADMIN_EMAIL=admin@wippy.local
USERSPACE_USER_DEFAULT_ADMIN_PASSWORD=admin123
